{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lapsecore_camera_list' %}">Camera Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>camera_web</td><td>{{ object.camera_web }}</td></tr>
<tr><td>camera_url</td><td>{{ object.camera_url }}</td></tr>
<tr><td>camera_preview_url</td><td>{{ object.camera_preview_url }}</td></tr>
<tr><td>camera_user</td><td>{{ object.camera_user }}</td></tr>
<tr><td>camera_pass</td><td>{{ object.camera_pass }}</td></tr>
<tr><td>enabled</td><td>{{ object.enabled }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Camera</a>

{% endblock %}