{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lapsecore_camera_list' %}">Camera Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>camera_web</td>
    <td>camera_url</td>
    <td>camera_preview_url</td>
    <td>camera_user</td>
    <td>camera_pass</td>
    <td>enabled</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.camera_web }}</td>
    <td>{{ object.camera_url }}</td>
    <td>{{ object.camera_preview_url }}</td>
    <td>{{ object.camera_user }}</td>
    <td>{{ object.camera_pass }}</td>
    <td>{{ object.enabled }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'lapsecore_camera_create' %}">Create new Camera</a>
{% endblock %}