{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lapsecore_captureschedule_list' %}">CaptureSchedule Listing</a></p>
<table class="table">
    <tr>
        <td>name</td>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
        <td>slug</td>
        <td>{{ object.slug }}</td>
    </tr>
    <tr>
        <td>created</td>
        <td>{{ object.created }}</td>
    </tr>
    <tr>
        <td>last_updated</td>
        <td>{{ object.last_updated }}</td>
    </tr>
    <tr>
        <td>start_time</td>
        <td>{{ object.start_time }}</td>
    </tr>
    <tr>
        <td>end_time</td>
        <td>{{ object.end_time }}</td>
    </tr>
<tr><td>capture_interval</td><td>{{ object.capture_interval }}</td></tr>
    <tr>
        <td>capture_days</td>
        <td>{{ object.capture_days }}</td>
    </tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit CaptureSchedule</a>

{% endblock %}