{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lapsecore_capturescheduledays_list' %}">CaptureScheduleDays Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>monday</td>
    <td>tuesday</td>
    <td>wednesday</td>
    <td>thursday</td>
    <td>friday</td>
    <td>saturday</td>
    <td>sunday</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.monday }}</td>
    <td>{{ object.tuesday }}</td>
    <td>{{ object.wednesday }}</td>
    <td>{{ object.thursday }}</td>
    <td>{{ object.friday }}</td>
    <td>{{ object.saturday }}</td>
    <td>{{ object.sunday }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'lapsecore_capturescheduledays_create' %}">Create new CaptureScheduleDays</a>
{% endblock %}