{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lapsecore_captureschedule_list' %}">CaptureSchedule Listing</a></p>
<table class="table">
<tr><td>range_start</td><td>{{ object.range_start }}</td></tr>
<tr><td>range_end</td><td>{{ object.range_end }}</td></tr>
<tr><td>capture_interval</td><td>{{ object.capture_interval }}</td></tr>
<tr><td>interval_unit</td><td>{{ object.interval_unit }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit CaptureSchedule</a>

{% endblock %}