{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lapsecore_capturescheduledays_list' %}">CaptureScheduleDays Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>monday</td><td>{{ object.monday }}</td></tr>
<tr><td>tuesday</td><td>{{ object.tuesday }}</td></tr>
<tr><td>wednesday</td><td>{{ object.wednesday }}</td></tr>
<tr><td>thursday</td><td>{{ object.thursday }}</td></tr>
<tr><td>friday</td><td>{{ object.friday }}</td></tr>
<tr><td>saturday</td><td>{{ object.saturday }}</td></tr>
<tr><td>sunday</td><td>{{ object.sunday }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit CaptureScheduleDays</a>

{% endblock %}