{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lapsecore_collectionexport_list' %}">CollectionExport Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>export_type</td><td>{{ object.export_type }}</td></tr>
<tr><td>export_path</td><td>{{ object.export_path }}</td></tr>
<tr><td>export_filename</td><td>{{ object.export_filename }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit CollectionExport</a>

{% endblock %}