{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lapsecore_collectionfile_list' %}">CollectionFile Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>capture_time</td>
    <td>file_path</td>
    <td>resolution</td>
    <td>exif_data</td>
    <td>camera_id</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.capture_time }}</td>
    <td>{{ object.file_path }}</td>
    <td>{{ object.resolution }}</td>
    <td>{{ object.exif_data }}</td>
    <td>{{ object.camera_id }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'lapsecore_collectionfile_create' %}">Create new CollectionFile</a>
{% endblock %}