{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'lapsecore_collection_list' %}">Collection Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>file_prefix</td><td>{{ object.file_prefix }}</td></tr>
<tr><td>output_filename_mask</td><td>{{ object.output_filename_mask }}</td></tr>
<tr><td>collection_directory</td><td>{{ object.collection_directory }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Collection</a>

{% endblock %}